html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .mrg{
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
  }
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
 
  .title{
      color: aliceblue;
      padding-top: 15px;
      padding-right: 15px;
  }

  .lema{
      color: aliceblue;
      padding-right: 50px;
  }

  .hoverable {
    display: inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform: translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
  }
  .hoverable:before {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }
  .hoverable:hover, .hoverable:active, .hoverable:focus {
    transform: translateY(-5px);
  }
  .hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before {
    opacity: 1;
    transform: translateY(-5px);
  }
  @keyframes bounce-animation {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
  }
  /*everything below here is just setting up the page, so dont worry about it */
  @media (min-width: 768px) {
    .navbar {
      text-align: center;
    }
  }

  nav {
    background: none;
    text-align: center;
    text-transform: uppercase;
  }
  nav li {
    margin-left: 3em;
    margin-right: 3em;
  }
  nav li a {
    transition: 0.5s;
    color: white;
  }
  .page-title {
    opacity: 0.75;
  }
  
  .busqueda{
    padding-right: 20px;
  }

  .bodycard{
    margin: 15px;
    padding: 30px;
  }

  .example-card {
    max-width: 500px;
  }
  body {
    background-color:  #ffffff;
    font-family: Arial, sans-serif;
}

.cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
/* @import '~bootstrap/dist/css/bootstrap.min.css';
@import './assets/plugins/font-awesome/css/all.min.css'; */