<div class="container background">
    <div>
        
        <h2>Productos Existentes</h2>
        <table class="tabla">
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Fecha</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
            <tr *ngFor="let i of productos">
                
                <td>{{i.nombre}}</td>
                <td>{{i.des}}</td>
                <td>{{i.fecha}}</td>
                <td>{{i.cantidad}}</td>
                <td>{{i.precio}}</td>
            </tr>
        </table>
    </div>
    
    <app-graficas></app-graficas>
    <h2>Que deseas realizar</h2>
    <table class="tabla" style="width: 100%;">
        <tr>
            <th>
                <button (click)="agregar()">Agregar Producto</button>
            </th>
            <th>
                <button (click)="actualizar()">Actualizar Producto</button>
            </th>
            <th>
                <button (click)="eliminar()">Eliminar Producto</button>
            </th>
        </tr>
    </table>
    <div *ngIf="mostrarAgregar">
        <h2>Agrega el Producto</h2>
        <mat-card-content>
            <form id="Altas" [formGroup]="altas" (ngSubmit)="altasSubmit()">
                <mat-form-field>
                    <input matInput placeholder="Cantidad" formControlName="cantidad" name="cantidad" class="form-control">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Descripcion" formControlName="des" name="des" class="form-control">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Fecha" formControlName="fecha" name="fecha" class="form-control">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Nombre" formControlName="nombre" name="nombre" class="form-control">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Precio" formControlName="precio" name="precio" class="form-control">
                </mat-form-field><br>       
                <button id="btnAltas" mat-raised-button type="submit" color="primary">Agregar</button>
            </form>
        </mat-card-content>
    </div>
    <div *ngIf="mostrarEliminar">
        <mat-card-content>
            <form id="Eliminar" [formGroup]="borrar" (ngSubmit)="eliminarSubmit()">
                <mat-form-field>
                    <input matInput placeholder="Nombre A ELIMINAR" formControlName="eliminar" name="eliminar" class="form-control"><br>
                    <button id="btnEliminar" mat-raised-button type="submit" color="primary">Eliminar</button>
                </mat-form-field>
            </form>
        </mat-card-content>
    </div>
    <div *ngIf="mostrarActualizar">
        <mat-card-content>
            <form id="Actualizar" [formGroup]="actu" (ngSubmit)="actualizarSubmit()">
                <mat-form-field>
                    <input matInput placeholder="Nombre A Actualizar" formControlName="actualizar" name="actualizar" class="form-control"><br>
                    <button id="btnActualizar" mat-raised-button type="submit" color="primary">Buscar</button>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-content *ngIf="banderaAct">
            <form id="Actualizar1" [formGroup]="actualizar1" (ngSubmit)="actualizar1Submit()">
                <mat-form-field>
                    <input matInput placeholder="Cantidad" formControlName="cantidad" name="cantidad" class="form-control">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Descripcion" formControlName="des" name="des" class="form-control">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Fecha" formControlName="fecha" name="fecha" class="form-control">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Nombre" formControlName="nombre" name="nombre" class="form-control">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Precio" formControlName="precio" name="precio" class="form-control">
                </mat-form-field><br>       
                <button id="btnActualizar1" mat-raised-button type="submit" color="primary">Actualizar</button>
            </form>
        </mat-card-content>
    </div>
    
    <br><br><br><br>
</div>