<!-- Footer -->
<footer class="page-footer nav-pers">

    <div style="background: linear-gradient(to right, #740021 0%, #f31400 100%);">
        <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-left mb-4 mb-md-0">
                    <h4 class="mb-0 text-white">Síguenos en nuestras redes sociales y entérate de nuestras promociones</h4>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-right">

                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f text-white mr-4"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter text-white mr-4"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                        <i class="fab fa-google-plus-g text-white mr-4"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                        <i class="fab fa-linkedin-in text-white mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram text-white"> </i>
                    </a>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                <!-- Content -->
                <h2 class="text-uppercase font-weight-bold text-white">Carloca's</h2>
                <hr class="hr-grad accent-2 mb-4 mt-0 d-inline-block mx-auto text-white" style="width: 11em;">
                <p class="text-white text-justify">Somos la cadena de restaurantes de entrega rápida más grande, exitosa e innovadora de México y para alcanzar el estándar de servicio necesario para lograrlo, mantenemos una estricta política de eficiencia y trato ético y honesto hacia nuestros clientes, proveedores, colaboradores, asociados y a la comunidad en general.</p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h2 class="text-uppercase font-weight-bold text-white">Codigo QR</h2>
                <hr class="hr-grad accent-2 mb-4 mt-0 d-inline-block mx-auto text-white" style="width: 11em;">
                <p class="text-white">
                    <app-qr class="qr"></app-qr>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h2 class="text-uppercase font-weight-bold text-white">Useful links</h2>
                <hr class="hr-grad accent-2 mb-4 mt-0 d-inline-block mx-auto text-white" style="width: 11em;">
                <p class="text-white">
                    <a href="#!">Your Account</a>
                </p>
                <p class="text-white">
                    <a href="#!">Become an Affiliate</a>
                </p>
                <p class="text-white">
                    <a href="#!">Shipping Rates</a>
                </p>
                <p class="text-white">
                    <a href="#!">Help</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h2 class="text-uppercase font-weight-bold text-white">Contact</h2>
                <hr class="hr-grad accent-2 mb-4 mt-0 d-inline-block mx-auto text-white" style="width: 11em;">
                <p class="text-white">
                    <i class="fas fa-home mr-3"></i> New York, NY 10012, US
                </p>
                <p class="text-white">
                    <i class="fas fa-envelope mr-3"></i> info@example.com
                </p>
                <p class="text-white">
                    <i class="fas fa-phone mr-3"></i> + 01 234 567 88
                </p>
                <p class="text-white">
                    <i class="fas fa-print mr-3"></i> + 01 234 567 89
                </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white">©2021 Carloca's</div>
    <!-- Copyright -->

</footer>
<!-- Footer -->