<header>
    <div class="container-fluid">
        <mat-card class="matheader">
            <h1><b>¿Quiénes Somos?</b></h1>
        </mat-card>
        <mat-card>
            <div class="example-button-row">
                <button mat-stroked-button>
                    <img src="../../assets/logoAcc/acc.png" alt="" srcset="" width="50" height="50">
                </button>
                <button mat-stroked-button (click) = "start()">
                    <img src="../../assets/logoAcc/on.png" alt="" srcset="" width="50" height="50">
                </button>
                <button mat-stroked-button (click) = "pause()">
                    <img src="../../assets/logoAcc/pausa.png" alt="" srcset="" width="50" height="50">
                </button>
                <button mat-stroked-button (click) = "resume()">
                    <img src="../../assets/logoAcc/play.png" alt="" srcset="" width="50" height="50">
                </button>
                <button mat-stroked-button (click) = "cancelar()">
                    <img src="../../assets/logoAcc/cancelar.png" alt="" srcset="" width="50" height="50">
                </button>
            </div>
        </mat-card>
    </div>
</header>

<body>
    
<div class="container">
    
    <mat-card>
        <p>
            ¿Qué es E-Tienda?
            Somos la tienda online de abarrotes líder de América Latina y nuestro propósito es
            democratizar el comercio y el dinero para impactar en el desarrollo de la región.
        </p>
        <p>
            Nacimos en 1999 y actualmente operamos en 18 países de la región. En pocos años, logramos convertirnos en la
            séptima plataforma de comercio electrónico del mundo.
        </p>
        <p>
            En 2017 lanzamos E-Crédito, orientada a democratizar
            el acceso al crédito y potenciar la inclusión financiera. Y, en 2019, celebramos 20 años de vida con una
            fuerte
            apuesta a seguir democratizando el comercio y las finanzas.
        </p>
        <p>
            Los compradores sólo deben registrarse en el sitio, buscar los productos o servicios que necesitan y hacer clic en el botón "comprar”. 
        </p>
      
        <div>
            <br>
            <h2 class="tabla"><b>Tabla de Sucursales Disponibles</b></h2>
        </div>
         <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Sucursal</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Dirección</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>E-Tienda Aguascalientes</td>
                <td>Aguascalientes</td>
                <td>Av.López Mateos #543</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>E-Tienda Irapuato</td>
                <td>Irapuato</td>
                <td>Bulevar Diaz Ordaz #443</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>E-Tienda León</td>
                <td>León Guanajuato</td>
                <td>Av. Las Americas #129</td>
              </tr>
            </tbody>
          </table> 
          <br><br>    
    </mat-card>
<br>
<br>
<br>
</div>
</body>