.menu-spacer {

    flex: 1 1 auto;
  }
  
  .menu{
  
      height: 900px;
  }
  .menuu{
      color: white;
      background-color: rgb(5, 20, 87);
  }
  .menuus{
      font-size: 20px;
    color: white;
    background-color: rgb(5, 20, 87);
}

.ele{
    width: 100%;

    text-align: center;
}