<div style="height: 100vh;">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span>Carloca`s</span>
        <span class="menu-spacer"></span>
      
      </mat-toolbar-row>
    </mat-toolbar>
  
    <mat-sidenav-container fxFlexFill >
      <mat-sidenav #sidenav>
        <mat-nav-list class="ele">
            <mat-label><br>	<mat-icon style="height: 50px; width: 50px;">person</mat-icon><br><br> Usuarios</mat-label>
          <hr>
          <a href="#" mat-list-item ><mat-icon  >home</mat-icon> Inicio</a> 
          <a href="#" mat-list-item><mat-icon>calendar_today</mat-icon>Calendario</a>
          <mat-form-field >
            <mat-label font-size="25px"><mat-icon> restaurant</mat-icon> Productos</mat-label>
            <mat-select [(value)]="selected">
              <mat-option value="Listar Producto">	<mat-icon>filter_list</mat-icon>Listar Producto</mat-option>
              <mat-option value="Agregar producto"><mat-icon>add_box</mat-icon>Agregar producto</mat-option>
              <mat-option value="Eliminar producto"><mat-icon>delete_sweep</mat-icon>Eliminar producto</mat-option>
            </mat-select>
          </mat-form-field>
          <a href="#"mat-list-item>
          <mat-form-field >
            <mat-label font-size="25px"><mat-icon> bar_chart</mat-icon> Reporte</mat-label>
            <mat-select [(value)]="selected1">
              <mat-option value="Diario">	Diario</mat-option>
              <mat-option value="Mensual">Mensual</mat-option>
                </mat-select>
          </mat-form-field>
        </a>
          <a href="#"mat-list-item>
            <mat-form-field >
                <mat-label>	<mat-icon>people</mat-icon>Usuarios</mat-label>
                <mat-select [(value)]="selected2">
                    <mat-option value="Listar Producto">	<mat-icon>filter_list</mat-icon>Listar usuarios</mat-option>
                    <mat-option value="Agregar producto"><mat-icon>person_add</mat-icon>Agregar usuario</mat-option>
                    <mat-option value="Eliminar producto">Eliminar usuario</mat-option>
                  
                    </mat-select>
              </mat-form-field>
          </a>
          <a [routerLink]="['/home']" href="" mat-list-item><mat-icon>close</mat-icon>Close</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content class=" menu"fxFlexFill>Main content</mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  