<header>
  <div class="container-fluid">
    <mat-card class="matheader">
      <h1><b>E-Tienda México – Telefono 01800 y medios de contacto</b></h1>
    </mat-card>
    <mat-card>
      <div class="example-button-row">
        <button mat-stroked-button>
          <img
            src="../../assets/logoAcc/acc.png"
            alt=""
            srcset=""
            width="50"
            height="50"
          />
        </button>
        <button mat-stroked-button (click)="start()">
          <img
            src="../../assets/logoAcc/on.png"
            alt=""
            srcset=""
            width="50"
            height="50"
          />
        </button>
        <button mat-stroked-button (click)="pause()">
          <img
            src="../../assets/logoAcc/pausa.png"
            alt=""
            srcset=""
            width="50"
            height="50"
          />
        </button>
        <button mat-stroked-button (click)="resume()">
          <img
            src="../../assets/logoAcc/play.png"
            alt=""
            srcset=""
            width="50"
            height="50"
          />
        </button>
        <button mat-stroked-button (click)="cancelar()">
          <img
            src="../../assets/logoAcc/cancelar.png"
            alt=""
            srcset=""
            width="50"
            height="50"
          />
        </button>
      </div>
    </mat-card>
  </div>
</header>

<body>
  <div class="container-fluid">
    <mat-card>
      <p>
        E-Tienda, es la empresa de comercio electrónico que lidera el sector en
        Latinoamérica, la cual, presta este servicio desde 1999, teniendo
        presencia en casi dos decenas de naciones en el continente, entre ellos
        México. Actualmente, son la séptima tienda web a escala global.
      </p>

      <p>
        El usuario, podrá beneficiarse de las bondades de usar no solo E-Tienda,
        sino E-Pago, E-Shops, E-Tienda Publicidad, así como E-Envíos. En esta
        tienda web, buscan brindar soluciones para que empresas e individuos
        decidan comprar bienes en Internet.
      </p>
      <p><b>Telefono 01810 E-Tienda Mexico</b></p>

      <p>
        E-Tienda cuenta con líneas 01810 que te permiten comunicarte con ellos
        en todo momento.
      </p>

      <ul>
        <li>01 800 105 52 100</li>
        <li>01 800 105 52 101</li>
        <li>01 800 105 52 103</li>
        <li>01 800 105 52 108</li>
      </ul>

      <p>
        Si deseas llamar desde el extranjero solo debes marcar al siguiente
        número:
      </p>
      <ul>
        <li>+52 55 4973 7300</li>
      </ul>

      <p>
        Medios de contacto por Internet de E-Tienda Al ser una plataforma online
        no pueden faltar los canales a través de Internet. Es por eso que te
        quiero compartir dichos canales.
      </p>

      <p><b> La página web de E-Tienda México</b></p>

      <a href="">https://www.E-Tienda.com.mx/</a>

      <p>
        En la web site de E-Tienda México, hay una sección denominada “Ayuda”,
        en la que el usuario podrá contactar con esta tienda, para efectos de
        comprar, vender, y un centro de seguridad. Básicamente, en cualquiera de
        estas opciones, al entrar podrás saber todo sobre hacer compras y
        ventas, así como la manera en que puedes configurar tu cuenta para
        evitarte problemas a futuro.
      </p>

      <p>
        Incluso, recomiendan hacer uso del sistema E- Pago al momento de
        comprar, porque así podrán respaldar el 100% del dinero en caso de algún
        problema con su compra.
      </p>

      <p>
        Por eso, deben asociar el número para recibir un código con el que
        podrán hacer una nueva clave en caso de cualquier imprevisto. De esta
        forma, nadie con intenciones inescrupulosas podrán abrir tu cuenta.
      </p>

      <p>
        En esta sección, también recomiendan a los vendedores el uso de E- Pago,
        porque siempre monitorean este sistema.
      </p>

      <!-- FORM REGISTRO -->

      <div
        class="modal fade"
        id="modalSubscriptionForm"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content" style="margin: 15px; padding: 3%">
            <!--Section: Contact v.2-->
            <section class="mb-4">
              <!--Section heading-->
              <h2 class="h1-responsive font-weight-bold text-center my-4">
                Contactanos
              </h2>
              <!--Section description-->
              <p class="text-center w-responsive mx-auto mb-5">
                Tienes alguna duda? Por favor no dudes en contactarnos
                directamente. Estaremos contestando lo más pronto posible para
                ayudarte!
              </p>

              <div class="row">
                <!--Grid column-->
                <div class="col-md-9 mb-md-0 mb-5">
                  <form
                    id="contact-form"
                    name="contact-form"
                    action="https://localhost:3000/enviar"
                    method="POST"
                  >
                    <!--Grid row-->
                    <div class="row">
                      <!--Grid column-->
                      <div class="col-md-6">
                        <div class="md-form mb-0">
                          <input
                            type="text"
                            id="name"
                            name="name"
                            class="form-control"
                          />
                          <label for="name" class="">Tu Nombre</label>
                        </div>
                      </div>

                      <!--Grid column-->

                      <!--Grid column-->
                      <div class="col-md-6">
                        <div class="md-form mb-0">
                          <input
                            type="text"
                            id="email"
                            name="email"
                            class="form-control"
                          />
                          <label for="email" class="">Tu Correo</label>
                        </div>
                      </div>
                      <!--Grid column-->
                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">
                      <div class="col-md-12">
                        <div class="md-form mb-0">
                          <input
                            type="text"
                            id="asunto"
                            name="asunto"
                            class="form-control"
                          />
                          <label for="subject" class="">Asunto</label>
                        </div>
                      </div>
                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">
                      <!--Grid column-->
                      <div class="col-md-12">
                        <div class="md-form">
                          <textarea
                            type="text"
                            id="mensaje"
                            name="mensaje"
                            rows="2"
                            class="form-control md-textarea"
                          ></textarea>
                          <label for="message">Tu mensaje</label>
                        </div>
                        <div class="text-center text-md-left">
                          <!-- <input type="submit"> -->
                          <a
                            class="btn btn-primary"
                            onclick="document.getElementById('contact-form').action = 'http://localhost:3000/enviar'; document.getElementById('contact-form').submit();"
                            (click)="enviado()"
                            >Enviar</a
                          >
                        </div>
                      </div>
                    </div>
                    <!--Grid row-->
                  </form>

                  <div class="status"></div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-3 text-center">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <i class="fas fa-map-marker-alt fa-2x"></i>
                      <p>Aguascalientes, CA 94126, MX</p>
                    </li>

                    <li>
                      <i class="fas fa-phone mt-4 fa-2x"></i>
                      <p>+ 01 234 567 89</p>
                    </li>

                    <li>
                      <i class="fas fa-envelope mt-4 fa-2x"></i>
                      <p>contact@E-tienda.com</p>
                    </li>
                  </ul>
                </div>
                <!--Grid column-->
              </div>
            </section>
            <!--Section: Contact v.2-->
          </div>
        </div>
      </div>
      <br /><br />

      <div class="text-center">
        <h1><b>¡Contactanos!</b></h1>
        <p>¡Solo da click aqui!</p>
        <a
          href=""
          class="btn btn-primary btn-rounded mb-4"
          data-toggle="modal"
          data-target="#modalSubscriptionForm"
          >Contactar</a
        >
      </div>

      <p><b>Redes sociales</b></p>
      <p>
        <b>SIGUENOS EN NUESTRAS REDES SOCIALES:</b>
      </p>
      <div>
        <a href="www.facebook.com"><i class="fab fa-facebook fa-3x"></i></a>
        <p><b>Facebook</b></p>
        <a href="www.instagram.com"><i class="fab fa-instagram fa-3x"></i></a>
        <p><b>Instagram</b></p>
        <a href="www.twitter.com"><i class="fab fa-twitter fa-3x"></i></a>
        <p><b>Twitter</b></p>
      </div>
      <br /><br /><br /><br />
    </mat-card>
  </div>
</body>
