<div class="container-fluid">

  <!-- MAT GRID LIST -->
  <!--2:1-->
  <mat-grid-list class="list" [responsive]="responsive" (responsiveColsChange)="cols = $event" rowHeight="1:1.6"
    gutterSize="10px">
    <mat-grid-tile *ngFor="let h of misarticulos, let i=index">

      <!-- Card dentro de un grid list de angular material -->
      <mdb-card cascade="true" wider="true">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="{{h.img}}"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Cards -->
        <mdb-card-body cascade="true" class="text-center">
          <h4 class="card-title">
            <strong>{{h.nombre}}</strong>
          </h4>
          <h5 class="indigo-text">
            <strong>${{h.precio}}.00</strong>

          </h5>

          <mdb-card-text>
            {{h.descripcion}}
          </mdb-card-text>
          <a mdbBtn color="unique" [routerLink]="['/articulo',i]" class="waves-light boton" mdbWavesEffect>Comprar</a>
        </mdb-card-body>
      </mdb-card>

    </mat-grid-tile>
  </mat-grid-list>
</div>