
@media (max-width: 767px) {
    .hidden-xs {
      display: none !important;
    }
  }

  
@media (max-width: 1400px) {
    .hidden-md {
      display: none !important;
    }
  }

  .center{
    display: table;
    padding-left: 10px;
    margin: 0 auto;
   
  }

@media (max-width: 768px) {
        .centrar{
            display: table;
            padding-left: 10px;
            margin: 0 auto;
             
     } 
}

@media (max-width: 980px) {
    .centrarmd{
        display: table;
        padding-left: 10px;
        margin: 0 auto;
         
 } 
}
.nav-pers{
  background: rgba(0, 0, 0, 0.8);
}

.boton{
    border-radius: 10px;
}