
<h1 class="text-center">Articulos</h1>

<div class="card-columns">
    <div class="card" *ngFor="let h of misarticulos, let i=index " ng-controller="AppCtrl as appCtrl" ng-cloak>
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">a{{h.nombre}}</h5>
            <p class="card-text">{{h.precio}}</p>
            <p class="card-text"><small class="text-muted">{{h.descripcion | pipe: 5}}</small></p>
            
        </div>
        <a [routerLink]="['/articulo',i]" class="btn btn-outline-primary btn-block">Ver más</a>
    </div>
</div>