
h1{
 font-size: 40px;
 font-family: fantasy;
 border-color: rgb(70, 73, 75);
 color: #59d109;
  text-align: center;
}
.card{
    padding:10px;
}
.container{
    margin: 50px;
}
img{
    width: 100%;

}