.list{
    background-color:  #ebebeb;
    font-family: Arial, sans-serif;
    
}

@media (max-width: 767px) {
    .hidden-xs {
      display: none !important;
    }
  }

  .boton{
    border-radius: 10px;
}
.slide {
  height: 100% !important;
  margin: -1px;
  margin-top: -5px;
}

h1{
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  font-weight: 800;
}
h3{
  font-size: 2em;
}
@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.c2a1 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
	background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

.c2a1 h1, .c2a1 h2, .c2a1 h3, .c2a1 h4, .c2a1 h5, .c2a1 h6 {
  color: #3e4555;
}

.c2a1 .op-8 {
	opacity: 0.8;
}

.c2a1 .font-weight-medium {
	font-weight: 500;
}

.c2a1 .btn-danger-gradiant {
  background: #ff4d7e;
  background: linear-gradient(to right, #740021 0%, #f31400 100%);
}

 .c2a1 .btn-danger-gradiant:hover {
  background: #ff6a5b;
  background: linear-gradient(to right, #f31400 0%, #740021 100%);
}

.c2a1 .btn-md {
    padding: 15px 45px;
    font-size: 16px;
}