<!-- Carrousel -->
<mat-carousel keepAspectRatio='false' slideHeight='100%' timings="250ms ease-in" [autoplay]="false" interval="3000"
  color="accent" maxWidth="auto" proportion="45" slides="3" [loop]="true" [hideArrows]="false" [hideIndicators]="true"
  [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr" class="hidden-xs">

  <mat-carousel-slide #matCarouselSlide *ngFor="let h of misbanner, let i=index" overlayColor="#00000040"
    [hideOverlay]="false">

    <img src="{{h.img}}" class="card-img-top slide" alt="...">
  </mat-carousel-slide>
</mat-carousel>
<div class="py-5 bg-light c2a1" style="margin-top:-5px; background-image:url(../../../assets/cta.jpg)">
  <div class="container">
    <!-- Row -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <h1 class="mb-3 text-dark font-weight-medium">Bienvenido a Carloca's</h1>
        <h3 class="font-weight-light text-dark op-8">Sabor que enamora!</h3>
        <a class="btn btn-danger-gradiant btn-md border-0 text-white mt-3 text-uppercase" href="#"><span>Leer más sobre nosotros</span></a>
      </div>
    </div>
    <!-- Row -->
  </div>
</div>
<!-- Cards -->
<div class="container">
  
  <div class="row mt-5">
      <div class="col-md-12 text-center">
        <h1>Nuestros Productos</h1>
    </div>
    <div class="col-md-4">
      <mdb-card cascade="true" wider="true">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="assets/1.png"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card 1 -->
        <mdb-card-body cascade="true" class="text-center">
          <h4 class="card-title">
            <strong>Coca-Cola lata 473ml</strong>
          </h4>
          <h5 class="indigo-text">
            <strong>$15.00</strong>
          </h5>

          <mdb-card-text>
            ¿Quieres una porción de Coca-Cola Original con menos de 100 calorías?
            Llévate la presentación de Lean Can 473 ml para que sigas disfrutando de nuestro delicioso y refrescante
            sabor
          </mdb-card-text>
          <a mdbBtn color="unique" [routerLink]="['/articulo',0]" class="waves-light boton" mdbWavesEffect>Comprar</a>
        </mdb-card-body>
      </mdb-card>

    </div>

    <!-- Card 2 -->
    <div class="col-md-4">

      <mdb-card cascade="true" narrower="true">

        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="assets/3.png"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <mdb-card-body cascade="true" class="text-center">
          <h5 class="pink-text">

            <h4 class="card-title"><strong>E-pura 1 L</strong> </h4>

            <strong>$11.00</strong>
          </h5>
          <mdb-card-text>
            Es el agua perfecta que te llena de un bienestar profundo que te impulsa y
            te inspira a realizar esos grandes retos. Tu cuerpo es maravilloso. e pura Ama tu cuerpo.
            <br>
          </mdb-card-text>

          <a mdbBtn color="unique" [routerLink]="['/articulo',2]" class="waves-light boton" mdbWavesEffect>Comprar</a>

        </mdb-card-body>
      </mdb-card>
    </div>

    <!-- Card 3 -->
    <div class="col-md-4">
      <mdb-card cascade="true">

        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="assets/2.png"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <mdb-card-body cascade="true" class="text-center">
          <h4 class="card-title">
            <strong>Doritos 550mg</strong>
          </h4>
          <h5><strong>$16.00</strong></h5>

          <mdb-card-text>
            ¡ATRÉVETE A PROBARLOS!
            Disfruta de todo el crujido de Doritos® con la intensidad del auténtico sabor del queso que te llena de un
            bienestar profundo.

          </mdb-card-text>
          <a mdbBtn color="unique" [routerLink]="['/articulo',1]" class="waves-light boton" mdbWavesEffect>Comprar</a>

        </mdb-card-body>

      </mdb-card>
      <br><br><br><br>
    </div>
  </div>
</div>
